@model MyNewTrashCollector.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOwed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOwed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OneTimePickupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OneTimePickupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempSuspendStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempSuspendStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempSuspendEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempSuspendEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
